@use "../variables"  as *;

@mixin mainButton () {
  border-radius: var(--border-radiius);
  display: inline-flex;
  justify-content: center;
  align-items: center;
  font-weight: 700;
  border: 1px solid transparent;
  height: 45px;
  text-decoration: none;
}

.c-btn {
  @include mainButton;

  &--primary {
    color: #fff;
    background-color: var(--color-primary);
    padding: 0 20px;
    transition-duration: .2s;

    &:hover {
      color: #fff;
      border: 1px solid $mainColorText;
    }
  }

  &--secondary {
    color: var(--color-primary);
    background-color: #fff;
    padding: 0 20px;
    transition-duration: .2s;
    box-shadow: 0 0 0 1px var(--color-primary);

    &:hover {
      transition-duration: .2s;
      color: var(--color-primary);
      box-shadow: 0 0 0 2px var(--color-primary);
    }
  }

  &--catalog {
    order: -1;
    border: 1px solid transparent;
    //background-color: transparent;
    background-color: var(--color-primary);

    @include media(lg) {
      padding: 0 14px;
      order: 0;
    }
    @include media(xl) {
      padding: 0 28px;
    }

    &-text {
      display: none;
      @include media(lg) {
        display: inline;
      }
    }
  }

  &--full-width {
    width: 100%;
  }

  &--mobile-full-width {
    width: 100%;

    @include media(md) {
      width: auto;
    }
  }

  &--search {
    padding: 0 20px;
    position: absolute;
    right: 0;
    top: 0;
  }
}
