@use "../variables"  as *;

.c-btn {
  border-radius: var(--border-radiius);
  display: inline-flex;
  justify-content: center;
  align-items: center;
  font-weight: 700;
  border: 1px solid transparent;
  height: 45px;
  text-decoration: none;
  &--primary {
    color: #fff;
    background-color: var(--color-primary);
    padding: 0 20px;
    &:hover {
      color: #fff;
      transition-duration: .2s;
      border: 1px solid $mainColorText;
    }
  }
  &--secondary {
    color: var(--color-primary);
    background-color: #fff;
    padding: 0 20px;
    border: 2px solid var(--color-primary);
    &:hover {
      transition-duration: .2s;
      color: var(--color-primary);
      border: 2px solid var(--color-primary);
    }
  }
  &--catalog {
    order: -1;
    border: 1px solid transparent;
    background-color: transparent;
    @include media(lg) {
      background-color: var(--color-primary);
    }
    @include media(lg) {
      padding: 0 14px;
      order: 0;
    }
    @include media(xl) {
      padding: 0 28px;
    }
    &-text {
      display: none;
      @include media(lg) {
        display: inline;
      }
    }
  }
  &--search {
    padding: 0 20px;
    position: absolute;
    right: 0;
    top: 0;
  }
}
