@use "../variables"  as *;

.c-btn {
  border-radius: var(--border-radiius);
  display: inline-flex;
  justify-content: center;
  align-items: center;
  font-weight: 700;
  border: none;
  height: 45px;
  text-decoration: none;
  &--primary {
    color: #fff;
    background-color: var(--color-primary);
    padding: 0 20px;
    &:hover {
      color: #fff;
    }
  }
  &--catalog {
    @include media(lg) {
      padding: 0 14px;
    }
    @include media(xl) {
      padding: 0 28px;
    }
  }
  &--search {
    padding: 0 20px;
    position: absolute;
    right: -1px;
    top: -1px;
  }
}
