:root {
  --color-primary: #678AEF;
  --color-secondary: #D8E2FE;
  --border-radiius: 30px;
  --bs-link-hover-color: #678AEF;
  --offset-compensator: 17px;
}
html, body {
  height: 100%;
  font-size: 12px;
  @media (max-width: 1024px) {
    font-size: 8px;
  }
}
body {
  font-family: 'Montserrat', sans-serif;
  font-size: 14px;
  line-height: 18px;
  font-weight: 400;
  color: #333333;
  padding-top: 66px;
}
.no-overflow {
  overflow-y: hidden;
  margin-right: var(--offset-compensator);
}
.wrapper {
  display: flex;
  flex-direction: column;
  height: 100%;
}
.content-wrap {
  flex: 1 0 auto;
}
.unselect {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.dropdown-menu {
  --bs-dropdown-border-radius: 0;
  --bs-dropdown-item-padding-y: 0.625rem;
  --bs-dropdown-padding-y: 1.25rem;
  --bs-dropdown-link-hover-bg: transparent;
  --bs-dropdown-link-hover-color: var(--color-primary);
  border-top: none;
  width: 222px;
}

.dropdown-item {
  white-space: normal;
  font-size: 14px;
  line-height: 18px;
}

.loaded .smooth-animation {
  transition-duration: .2s;
}
a:hover {
  transition-duration: .2s;
}
