@use "../variables" as *;
:root {
  --color-primary: #678AEF;
  --color-secondary: #D8E2FE;
  --color-form-element: #9773F0;
  --border-radiius: 30px;
  --bs-link-hover-color: #678AEF;
  --offset-compensator: 0px;
  @media (min-width: 1170px) {
    --offset-compensator: 17px;
  }
}

html, body {
  font-size: 12px;

  @media (max-width: 1024px) {
    font-size: 8px;
  }
}
body {
  font-family: 'Montserrat', sans-serif;
  font-size: 14px;
  line-height: 18px;
  font-weight: 400;
  color: #333333;
  padding-top: 66px;

  @media (max-width: 992px) {
    padding-top: 0;
  }
}
main {
  flex: auto;
}

.section-title {
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  margin-right: 14px;
  margin-bottom: 0;

  @include media(md) {
    font-size: 20px;
    line-height: 24px;
  }
  @include media(lg) {
    font-size: 24px;
    line-height: 28px;
  }
  @include media(lg) {
    font-size: 26px;
    line-height: 30px;
  }
  &--margin {
    margin-bottom: 16px;

    @include media(sm) {
      margin-bottom: 32px;
    }
  }
  &--with-margin {
    margin-bottom: 16px;

    @include media(lg) {
      margin-bottom: 30px;
    }
  }
}
.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  overflow: hidden;
  white-space: nowrap;
  border: 0;
}
.no-overflow {
  overflow-y: hidden;
  margin-right: var(--offset-compensator);
}
.wrapper {
  display: flex;
  flex-direction: column;
  height: 100vh;
  justify-content: space-between;
}

.unselect {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.dropdown-menu {
  --bs-dropdown-border-radius: 0;
  --bs-dropdown-item-padding-y: 0.625rem;
  --bs-dropdown-padding-y: 1.25rem;
  --bs-dropdown-link-hover-bg: transparent;
  --bs-dropdown-link-hover-color: var(--color-primary);
  border-top: none;
  width: 222px;
}

.dropdown-item {
  white-space: normal;
  font-size: 14px;
  line-height: 18px;
}

.loaded .smooth-animation {
  transition-duration: .2s;
}
a:hover {
  transition-duration: .2s;
}

