@use "../variables" as *;
$footerColorText: #747474;

.c-footer {
  padding: 52px 0;
  background-color: #F0F0F0;
}
.footer-grid {
  display: grid;
  row-gap: 10px;
  margin-bottom: 33px;
  @include media(lg) {
    grid-template: 1fr auto / 230px auto;
  }
  @include media(xl) {
    grid-template: 1fr auto / 320px auto;
  }
}
.footer-nav {
  list-style: none;
  display: flex;
  padding-left: 0;
  justify-content: space-between;
  &__link {
    display: inline-block;
    text-decoration: none;
    color: $footerColorText;
    font-weight: 700;
    &:hover {
      color: $footerColorText;
    }
  }
}
.contacts-title {
  font-weight: 700;
  font-size: 16px;
}
.contacts-item {
  display: inline-block;
  margin-right: 30px;
  position: relative;
  padding-left: 16px;
  border-left: 1px solid var(--color-primary);

  &__phone {
    font-weight: 700;
    font-size: 16px;
    white-space: nowrap;
    margin-bottom: 12px;
    a {
      line-height: 1;
      text-decoration: none;
      color: $mainColorText;
      &:hover {
        color: $mainColorText;
      }
    }
  }
  &__address {
    line-height: 1;
    font-size: 16px;
  }
}
.footer-work-email {
  grid-column: 2/3;
  justify-self: end;
  @include media(lg) {
    margin-right: 53px;
  }
  @include media(xl) {
    margin-right: 71px;
  }
  @include media() {
    margin-right: 97px;
  }
  &__work-time {
    margin-bottom: 10px;
  }
  &__email {
    text-decoration: none;
    color: $mainColorText;
    font-size: 16px;
    font-weight: 700;
    &:hover {
      color: $mainColorText;
    }
  }
}
.footer-social {
  color: $footerColorText;
  font-weight: 700;
  margin-bottom: 28px;
  &__text {
    padding-bottom: 2px;
    margin-right: 7px;
  }
  &__icon {
    width: 28px;
    height: 28px;
    margin: 0 9px;
    &--ok {
      background: url("../img/svg/ok.svg") 0 0 no-repeat;
    }
    &--vk {
      background: url("../img/svg/vk.svg") 0 0 no-repeat;
    }
    &--tg {
      background: url("../img/svg/tg.svg") 0 0 no-repeat;
    }
  }
}
.footer-text {
  color: $footerColorText;
  margin: 0;
}
