@use "../variables" as *;
@use "./in/catalog";

.c-header {
  margin-bottom: 8px;
  @include media(md) {
    margin-bottom: 26px;
  }
}
.show-catalog .header-top {
  padding-right: var(--offset-compensator);
}
.header-top {
  background-color: var(--color-secondary);
  margin-bottom: 26px;
  position: absolute;
  top: 0;
  width: 100%;
  display: none;
  @include media(lg) {
    display: block;
  }
}
.header-fixed.show-catalog .header-bottom {
  padding-right: var(--offset-compensator);
}
.header-bottom {
  padding: 8px 0;
  @include media(lg) {
    padding: 6px 0;
  }
}
.header-fixed .header-bottom {
  position: fixed;
  background-color: #FFF;
  z-index: 12;
  width: 100%;
  box-shadow: 0 1px 5px rgba(0, 0, 0, .2);
  top: 0;
  @include media(lg) {}
}
.header-fixed {
  padding-top: 0;

  @include media(lg) {
    padding-top: 138px;
  }
}
.menu {
  list-style: none;
  padding: 0;
  margin: 0;

  &-item {
    position: relative;
    display: inline-block;
    padding-right: 16px;
    cursor: pointer;

    &:not(:last-child) {
      @include media(lg) {
        margin-right: 24px;
      }
      @include media(xl) {
        margin-right: 48px;
      }
    }

    .nav-link {
      text-decoration: none;
      color: $mainColorText;
      padding: 21px 0;

      &:hover {
        color: var(--color-primary);
      }
      &:focus-visible {
        outline: none;
      }
    }

    .dropdown-toggle::after {
      display: none;
    }

    &--with-arrow {
      .nav-link {
        &:before {
          content: '';
          background: url($imgPath + "/svg/chevrone.svg") no-repeat 0 0;
          position: absolute;
          width: 10px;
          height: 6px;
          right: 0;
          top: calc(50% - 1px);
          transition-duration: .2s;
        }
        &:hover:before {
          background: url($imgPath + "/svg/chevrone-hover.svg") no-repeat 0 0;
        }
      }
    }
  }
}
.header-callback-wrap {
  margin-bottom: 8px;
}
.header-callback {
  color: $secondaryColorText;
  font-weight: 600;
  text-decoration: none;
  position: relative;
  margin-right: 8px;
  padding-left: 9px;
  border-left: 1px solid var(--color-primary);

  &--mobile {
    display: none;
    @include media(md) {
      display: inline;
    }
    @include media(lg) {
      display: none;
    }
  }
  &:hover {
    transition-duration: .2s;
    color: var(--color-primary);
  }

  &__icon-phone {
    width: 16px;
    height: 16px;
    margin-right: 4px;
    margin-top: -2px;
  }
}

.header-row {
  display: flex;
  align-items: center;
  justify-content: space-between;
  //display: grid;
  //grid-template: auto / 235px 212px;
  //align-items: center;
}

.header-logo {
  max-width: 153px;

  @include media(lg) {
    max-width: 170px;
    margin-right: 18px;
  }
  @include media(xl) {
    max-width: 235px;
    margin-right: 24px;
  }
  @include media(xxl) {
    margin-right: 59px;
  }

  &__img {
    width: 100%;
    height: auto;
  }
}

.catalog-lines {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  height: 12px;
  width: 14px;

  @include media(lg) {
    margin-right: 14px;
  }

  &__line {
    margin-top: 5px;
    height: 2px;
    width: 100%;
    //background-color: var(--color-primary);
    background-color: #fff;
    border-radius: 20px;
    transition-duration: .2s;

    &:before,
    &:after {
      content: '';
      left: 0;
      position: absolute;
      height: 2px;
      width: 100%;
      //background-color: var(--color-primary);
      background-color: #fff;
      border-radius: 20px;
      transition-duration: .2s;
    }

    &:before {
      margin-top: 4px;
    }

    &:after {
      margin-top: -4px;
    }
  }
}

.show-catalog {
  margin-right: var(--offset-compensator);
  overflow-y: hidden;
}
.show-catalog .catalog-lines {
  &__line {
    background-color: transparent;
    &:before {
      transform: translate(0,-4px) rotate(-45deg);
    }

    &:after {
      transform: translate(0,4px) rotate(45deg);
    }
  }
}

@include media(md) {
  .mobile-search {
    display: none;
  }
}
.header-icons {
  list-style: none;
  justify-content: space-between;
  margin-bottom: 0;
  padding: 0;
  opacity: 0;
  display: none;

  @include media(md) {
    display: flex;
  }
  @include media(lg) {
    margin-left: auto;
  }
  &__icon {
    @include media(lg) {
      margin-bottom: 4px;
    }
    &--search-mobile {
      width: 18px;
      height: 18px;
      fill: var(--color-primary);
    }
    &--home {
      width: 23px;
      height: 23px;
      margin-bottom: 2px !important;
      margin-top: -3px;
      fill: $mainColorText;
    }
    &--catalog {
      width: 22px;
      height: 17px;
      margin-top: 1px;
    }
    &--human {
      width: 16px;
      height: 19px;
      fill: $mainColorText;
    }

    &--heart {
      width: 20px;
      height: 18px;
      fill: $mainColorText;
    }

    &--cart {
      width: 22px;
      height: 19px;
      fill: $mainColorText;
    }
  }

  &__item {
    position: relative;
    &:not(:last-child) {
      margin-right: 20px;

      @include media(lg) {
        margin-right: 16px;
      }
      @include media(xxl) {
        margin-right: 32px;
      }
    }
   &--cart {
     @include media(lg) {
       width: 63px;
     }
   }
  }

  &__count-cart {
    position: absolute;
    display: none;
    align-items: center;
    justify-content: center;
    right: 8px;
    top: -6px;
    width: 18px;
    height: 18px;
    background-color: var(--color-primary);
    color: #fff;
    font-size: 11px;
    border-radius: 50%;
    &.show {
      display: flex;
    }
  }

  &__link {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-decoration: none;
    color: $mainColorText;

    &:hover {
      transition-duration: .2s;
      color: var(--color-primary);

      .header-icons__icon {
        &--human,
        &--heart,
        &--cart {
          transition-duration: .2s;
          fill: var(--color-primary);
        }
      }
    }
    span {
      display: inline;
      font-size: 10px;

      @include media(381) {
        font-size: 14px;
      }
      @include media(md) {
        display: none;
      }
      @include media(lg) {
        display: inline;
      }
    }
  }
}

.loaded .header-icons {
  opacity: 1;
}
.header-search {
  position: relative;
  width: 100%;
  z-index: 12;

  &:not(&--mobile) {
    display: none;
    @include media(lg) {
      display: block;
    }
  }

  &[data-hint=true]:focus-within .header-search-hint {
    opacity: 1;
    pointer-events: auto;
  }

  @include media(lg) {
    margin-left: 24px;
    margin-right: 24px;
    max-width: 212px;
  }
  &__label {
    width: 100%;
  }

  &__input {
    width: 100%;
    height: 45px;
    background-color: #fff;
    outline: none;
    padding: 8px 15px;
    border: 1px solid var(--color-primary);
    border-radius: var(--border-radiius);
  }
}

.header-search-hint {
  position: absolute;
  list-style: none;
  width: 100%;
  left: 0;
  margin-top: -18px;
  height: max-content;
  opacity: 0;
  pointer-events: none;
  padding: 30px 15px 21px;
  border-radius: 0 0 30px 30px;
  border: 1px solid var(--color-secondary);
  background-color: #fff;
  border-top: none;
  margin-bottom: 0;
  z-index: -1;

  &__link {
    color: $mainColorText;
    text-decoration: none;
  }
  &__item {
    padding: 9px 0;

  }
}
.search-icon {
  width: 18px;
  height: 18px;
  fill: #fff;
}

.header-icons {
  .dropdown-menu {
    --bs-dropdown-min-width: 160px;
    --bs-dropdown-item-padding-x: 15px;
    --bs-dropdown-item-padding-y: 5px;
    --bs-dropdown-link-active-bg: #D8E2FE;
    --bs-dropdown-link-active-color: $mainColorText;
    overflow: hidden;
    border-radius: 30px;
    border-top: 1px solid var(--bs-dropdown-border-color);
    width: auto;
  }

  .dropdown-item {
    &.active {
      position: relative;

      &:before {
        content: '';
        position: absolute;
        right: 10px;
        background: url($imgPath + "/svg/check-active.svg") 0 0 no-repeat;
        margin-top: 4px;
        width: 13px;
        height: 9px;
      }
    }

    &:hover {
      background-color: #D8E2FE;
    }
  }
}
.header-icons__item {
  & > a[data-bs-toggle="dropdown"]:after {
    content: "";
    background: url($imgPath + "/svg/chevrone-right-bold.svg") 50% 50% no-repeat;
    background-size: 6px;
    position: absolute;
    width: 6px;
    height: 14px;
    right: -14px;
    bottom: 2px;
    transition-duration: 0.2s;
    transform: rotate(90deg);
  }
  & > a.show[data-bs-toggle="dropdown"]:after {
    transform: rotate(270deg);
  }
}
