/**
* Created by AndreyBan
* in PhpStorm
* 08.02.2024
**/
@use '../../variables' as *;
@use "src/scss/pages/main-page/include/products";
@use "src/scss/pages/catalog/include/sort";
@use "src/scss/pages/catalog/include/filter";

.catalog-section {
  margin-bottom: 36px;

  @include media(md) {
    margin-bottom: 42px;
  }

  @include media(lg) {
    margin-bottom: 56px;
  }
}

.catalog-filter {
  .form-check {
    &:not(:last-child) {
      margin-bottom: 12px;
    }
  }
  .accordion {
    margin-bottom: 30px;
  }
}
.catalog-section {
  .goods-card {
    margin-bottom: 16px;

    @include media(md) {
      margin-bottom: 32px;
    }
  }
}
.catalog-bottom {
  .c-btn {
    width: 100%;

    @include media(md) {
      width: auto;
    }
  }
}
.section-goods {
  margin-top: 40px;

  @include media(lg) {
    margin-top: 56px;
  }
}
