/**
* Created by AndreyBan
* in PhpStorm
* 16.03.2024
**/
@use "../../variables" as *;

$errorColor: #E12668;
//.form-check {
//  position: relative;
//  padding-bottom: 16px;
//  .invalid-feedback {
//    position: absolute;
//    color: $errorColor;
//    font-size: 12px;
//    display: none;
//    bottom: 0;
//    margin-left: 32px;
//  }
//}
.password-display-icon {
  position: absolute;
  right: 28px;
  top: 13px;
  width: 20px;
  height: 20px;
  background: url($imgPath + "/svg/not-visible.svg") 50% 50% no-repeat;
  background-size: 20px;
  cursor: pointer;

  &.show-pass {
    background: url($imgPath + "/svg/eye-visible.svg") 50% 50% no-repeat;
    background-size: 20px;
  }
}
.form-input, .form-textarea {
  position: relative;
  padding-bottom: 20px;
  margin-bottom: 6px;
  max-width: 506px;

  .invalid-feedback {
    position: absolute;
    color: $errorColor;
    font-size: 12px;
    display: none;
    bottom: 0;
    margin-left: 15px;
  }

  label {
    position: absolute;
    transition-duration: .2s;
    top: 13px;
    left: 15px;
    background-color: #fff;
  }
}
.form-input {
  //display: flex;
  //align-items: center;

  input:focus + label, &.fill label  {
    top: -8px;
    font-size: 12px;
  }
}
.form-textarea {
  label {
    top: 28px;
    left: 28px;
  }
  textarea:focus + label, &.fill label  {
    top: -8px;
    font-size: 12px;
  }
  textarea {
    height: 186px;
    resize: none;
    padding: 28px;


    @include media(md) {
      height: 235px;
    }
  }
  textarea.form-control:invalid,
  textarea.form-control:valid {
    background-position: calc(100% - 15px) 15px
  }
}
.registration {
  &-inputs {
    margin-bottom: 12px;
  }

  &-subtitle {
    margin: 9px 0 28px;

    @include media(md) {
      margin: 9px 0 32px;
    }
  }

  &-bottom-privacy {
    display: grid;
    row-gap: 16px;
    margin-bottom: 32px;
  }
  &-another-login {
    display: flex;
    column-gap: 8px;
    justify-content: center;

    @include media(md) {
      column-gap: 24px;
      justify-content: flex-start;
    }

    &-text {
      color: #9D9D9D;
      margin: 28px 0 14px;
      text-align: center;

      @include media(md) {
        text-align: left;
      }
    }
  }
}

.was-validated .form-check-input:valid, .form-check-input.is-valid {
  &:checked {
    border-color: var(--color-primary);
    background-color: var(--color-primary);
  }
  &:focus {
    box-shadow: none;
  }
}
.was-validated .form-control:valid:focus, .form-control.is-valid:focus{
  border-color: var(--color-primary);
  box-shadow: 0 0 0 1px  var(--color-primary);
}
.was-validated .form-check-input:valid, .form-check-input.is-valid {
  border-color: var(--color-primary);
}
.was-validated .form-check-input:valid ~ .form-check-label,
.form-check-input.is-valid ~ .form-check-label {
  color: $mainColorText;
}
.was-validated .form-control:valid, .form-control.is-valid {
  border-color: var(--color-primary);
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 8 8'%3e%3cpath fill='%23678AEF' d='M2.3 6.73.6 4.53c-.4-1.04.46-1.4 1.1-.8l1.1 1.4 3.4-3.8c.6-.63 1.6-.27 1.2.7l-4 4.6c-.43.5-.8.4-1.1.1z'/%3e%3c/svg%3e");
}
.was-validated .form-check-input[type=radio]:valid:checked {
  background-color: transparent;
}
.was-validated .form-control:invalid:focus, .form-control.is-invalid:focus {
  box-shadow: 0 0 0 1px rgba(220, 53, 69, 1);
}
.was-validated .form-check-input:invalid:focus, .form-check-input.is-invalid:focus {
  box-shadow: none;
}
.was-validated .form-check-input:invalid, .form-check-input.is-invalid {
  box-shadow: 0 0 4px 2px rgba(220, 53, 69, .25);
}
.registration-section {
  &[data-form-type="type-1"] {
    .yl-only {
      display: none;
    }
  }
  &[data-form-type="type-2"] {
    .fl-only {
      display: none;
    }
  }
}
.edit-subtitle {
  font-size: 16px;
  margin-bottom: 8px;

  @include media(md) {
    margin-bottom: 24px;
  }

}
.edit-page {
  .form-subtitle {
    font-size: 16px;
    margin: 0 0 16px;

    @include media(md) {
      margin: 32px 0;
    }

    &--small {
      font-size: 14px;
      margin: 0 0 16px;
    }
  }
}
.form-registration {
  &--margin {
    margin-bottom: 28px;
    @include media(md) {
      margin-bottom: 50px;
    }
  }
}
.registration-section {
  margin-bottom: 32px;
  .form-check-input[type=checkbox] {
    margin-right: 8px;
  }
  .accordion-button::after {
    background-image: url($imgPath + "/svg/chevrone-hover.svg");
    transform: rotate(0);
    background-size: 13px;
    width: 14px;
    height: 14px;
    background-position: 0 50%;
  }
  .accordion-button:not(.collapsed)::after{
    transform: rotate(180deg);
  }
  .accordion-header {
    margin: 0 0 24px;
  }

  .form-check {
    display: grid;
    align-items: center;
    grid-template: auto / 28px auto;
  }
}
.send-message .fancybox__content {
  padding: 50px;
  border-radius: 30px;
  P {
    padding: 0;
    margin: 0;
  }
}
.popup-close {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  right: 20px;
  top: 20px;
  height: 24px;
  width: 24px;
  border: none;
  background: transparent;
  padding: 0;
  &:focus-visible {
    outline: none;
  }
  &:after, &:before {
    content: '';
    position: absolute;
    top: 0;
    height: 100%;
    width: 2px;
    background-color: var(--color-primary);
  }
  &:after {
    transform: rotate(45deg);
  }
  &:before {
    transform: rotate(-45deg);
  }
}
.form-collapse-bottom {
  display: inline-block;
  cursor: pointer;
  color: #9D9D9D;
  padding-right: 20px;
  margin-bottom: 20px;
  position: relative;
  &:after {
    content: '';
    position: absolute;
    width: 8px;
    height: 14px;
    margin-top: 3px;
    background: url($imgPath + "/svg/chevrone-gray.svg") 0 50% no-repeat;
    right: 0;
    transform: rotate(-90deg);
  }
}
.row-check {
  display: grid;
  row-gap: 8px;
  margin-bottom: 32px;

  @include media(md) {
    display: flex;
    column-gap: 49px;
  }
}

.form-subtitle {
  margin-bottom: 16px;
}
.c-btn--yandex,
.c-btn--vk {
  color: #fff;
  padding-left: 38px;
  background-repeat: no-repeat;
  width: 148px;

  @include media(sm) {
    padding-left: 38px;
    width: 188px;
  }

  &:hover {
    color: #fff;
  }

}
.c-btn--yandex {
  background-color: #333333;
  background-image: url($imgPath + "/svg/icon-ya.svg");
  background-position: 16px 50%;

  @include media(sm) {
    background-position: 38px 50%;
  }

}
.c-btn--vk {
  background-color: #5181B8;
  background-image: url($imgPath + "/svg/icon-vk.svg");
  background-position: 34px 50%;
  @include media(sm) {
    background-position: 54px 50%;
  }
}
.privacy-text {
  margin-top: 12px;
  color: #9D9D9D;
  a {
    color: #9D9D9D;

    &:hover {
      color: #9D9D9D;
    }
  }
}
.login-bottom {
  margin-top: 28px;
  text-align: center;
  p {
    text-align: left;
  }
  @include media(md) {
    text-align: left;
  }
}
