/**
* Created by AndreyBan
* in PhpStorm
* 04.03.2024
**/
@use "../../variables" as *;

.to-up {
  position: fixed;
  left: 7vw;
  bottom: 80px;
  width: 40px;
  height: 40px;
  background-color: var(--color-primary);
  border-radius: 50%;
  cursor: pointer;
  opacity: 0;
  pointer-events: none;
  transition: opacity .3s;
  transform: rotate(180deg);
  background-image: url($imgPath + "/svg/chevrone-white.svg");
  background-size: 15px;
  background-position: 50% 50%;
  background-repeat: no-repeat;
  z-index: 100;

  @include media(md) {
    width: 60px;
    height: 60px;
    background-size: 25px;

  }

  &.show {
    opacity: 1;
    pointer-events: auto;
  }
}
