@use "../../variables" as *;

.contacts {
    .container {
        margin-top: 23px;
        margin-bottom: 30px;

        @include media(md) {
            margin-top: 36px;
            margin-bottom: 46px;
        }

        @include media(xxl) {
            margin-top: 26px;
            margin-bottom: 53px;
        }
    }
    
    &__title {
        font-size: 16px;
        font-weight: 700;
        line-height: 20px;
        

        @include media(md) {
            font-size: 24px;
            font-weight: 700;
            line-height: 28px;
        }

        @include media(xxl) {
            font-size: 26px;
            font-weight: 700;
            line-height: 30px;
        }
    }

    &__text {
        font-size: 14px;
        font-weight: 400;
        line-height: 18px;
        margin-top: 8px;

        @include media(md) {
            font-size: 14px;
            font-weight: 400;
            line-height: 18px;
            margin-top: 7px;
        }

        @include media(xxl) {
            margin-top: 10px;
            font-size: 14px;
            font-weight: 400;
            line-height: 18px;
        }
    }

    &-info {
        margin-top: 22px;
        display: flex;
        justify-content: space-between;
        flex-direction: column;

        @include media(md) {
            margin-top: 20px;
            flex-direction: row;
        }

        @include media(xxl) {
            margin-top: 43px;
        }

        div {
            border-left: 1px solid #678AEF;
            padding-left: 16px;

            &:last-child {
                margin-top: 25px;

                @include media(md) {
                    margin-top: 0;
                }
            }
        }

        &__phone, &__address {
            font-size: 14px;
            font-weight: 700;
            line-height: 20px;

            @include media(xxl) {
                font-size: 16px;
            }
        }
        &__phone, &__phone:hover {
            color: #333;
            text-decoration: none;
        }

        &__address {
            margin-top: 8px;
        }

        &__hours, &__time, &__days {
            font-size: 14px;
            font-weight: 500;
            line-height: 18px;
        }

        &__hours {
            color: #747474;
            margin-top: 27px;

            @include media(md) {
                margin-top: 19px;
            }
        }

        &__time {
            margin-top: 11px;
        }

        &__days {
            margin-top: 8px;
        }
    }
}