@use "../../variables" as *;

.consumption {
    .container {
        margin-top: 26px;
        margin-bottom: 32px;

        @include media(xxl) {
            margin-top: 24px;
            margin-bottom: 57px;
        }
        @include media(lg) {
            margin-top: 39px;
        }
        @include media(md) {
            margin-top: 40px;
            margin-bottom: 48px;
        }
    }
    .info {
        div {
            overflow-x: auto;

            &::-webkit-scrollbar {
                width: 157px;
                height: 8px;
            }
            &::-webkit-scrollbar-track {
                background-color: #F0F0F0;
                border-radius: 5px;
                margin-right: 163px;
            }
            &::-webkit-scrollbar-thumb {
                background-color: #678AEF;
                border-radius: 5px;
            }

            @include media(md) {
                overflow-x: unset;
                width: auto;
            }
        }

        &:not(:first-child) {
            margin-top: 12px;

            @include media(xxl) {
                margin-top: 50px;
            }

            @include media(md) {
                margin-top: 42px;
            }
        }

        &__title {
            font-size: 18px;
            line-height: 22px;
            font-weight: 700;
            
            @include media(xxl) {
                font-size: 26px;
            }
            @include media(md) {
                font-size: 24px;
                line-height: 30px;
            }
        }
    }
    .second table {
        @include media(xs) {
            width: -webkit-fill-available;
        }
        @include media(sm) {
            width: 100%;
        }
        @include media(lg) {
            width: 75%;
        }
        @include media(xxl) {
            width: 80%;
        }
    }

    table {
        font-size: 14px;
        line-height: 18px;
        table-layout: fixed;
        margin-top: 13px;
        margin-bottom: 16px;
        width: max-content;

        @include media(xxl) {
            margin-top: 32px;
        }

        @include media(md) {
            margin-top: 29px;
            width: 100%;
            margin-bottom: 0;
        }

        th {
            background: #D8E2FE;
            font-weight: 400;
            padding-top: 12px;
            padding-bottom: 13px;
            padding-right: 15px;

            @include media(lg) {
                padding-right: 32px;
            }

            &:first-child {
                padding-left: 15px;

                @include media(lg) {
                    padding-left: 32px;
                }
            }
        }

        tr:nth-child(odd) {
            background: #F5F5F5;
        }
        td {
            padding-top: 12px;
            padding-bottom: 6px;
            padding-right: 15px;

            @include media(lg) {
                padding-right: 32px;
            }

            &:first-child {
                padding-left: 15px;
                
                @include media(lg) {
                    padding-left: 32px;
                }
            }
        }
    }
}