@use "../../variables" as *;

.news {
    margin: 26px 0 56px;

    &__title {
        font-size: 26px;
        font-weight: 700;
        line-height: 30px;
    }

    &-info {
        margin: 16px 0 42px;
        font-size: 14px;
        font-weight: 400;

        &__item {
            display: flex;
        }

        &__name {
            margin-left: 24px;
        }

        &__date {
            width: 65px;

            @include media(md) {
                width: 87px;
            }
        }
    }
}