/**
* Created by AndreyBan
* in PhpStorm
* 10.02.2024
**/
@use "src/scss/variables" as *;

.sort-list {
  display: flex;
  list-style: none;
  padding-left: 0;
  column-gap: 32px;
  margin-bottom: 14px;

  @include media(md) {
    margin-bottom: 0;
  }
  @include media(lg) {
    margin-bottom: 32px;
  }
}

.sort-item {
  position: relative;
  padding-right: 18px;

  .dropdown-menu {
    --bs-dropdown-min-width: 250px;
    border-radius: 30px;
    padding: 15px;
    border-top: 1px solid var(--bs-dropdown-border-color);
    width: auto;
  }
  a {
    padding-bottom: 4px;
    color: $mainColorText;
    text-decoration: none;

    &:hover {
      color: $mainColorText;
    }
  }
  &:after {
    content: '';
    background: url($imgPath + "/svg/chevrone.svg") no-repeat 0 0;
    position: absolute;
    width: 10px;
    height: 6px;
    right: 0;
    top: calc(50% - 1px);
    transition-duration: .2s;
  }
}
