:root {
  --color-primary: #678AEF;
  --color-secondary: #D8E2FE;
  --border-radiius: 30px;
}

$mainColorText: #333;
$secondaryColorText: #5D5D5D;

$breakpoints: (
        xs: 0,
        sm: 576px,
        md: 768px,
        lg: 992px,
        xl: 1170px,
        xxl: 1280px
);

@function breakpoints($key: xl) {
  @return map-get($breakpoints, $key);
}

@mixin media ($sizeName: 'xxl') {
  $size: breakpoints($sizeName);

  @if($sizeName == 'xxl') {
    $size: breakpoints(xxl);
  } @else if ($sizeName == 'xl') {
    $size: breakpoints(xl);
  } @else if ($sizeName == 'lg') {
    $size: breakpoints(lg);
  } @else if ($sizeName == 'md') {
    $size: breakpoints(md);
  } @else if ($sizeName == 'sm') {
    $size: breakpoints(sm);
  } @else if ($sizeName == 'xs'){
    $size: breakpoints(xs);
  } @else {
    $size: $sizeName + 'px';
  }

  @media (min-width: $size) {
    @content
  }
}
