@use "../../variables" as *;

.manufacturers-detail {
    margin: 8px 0 30px;
    font-size: 14px;
    font-weight: 400;
    line-height: 18px;

    @include media(md) {
        margin: 16px 0 48px;
    }

    @include media(xxl) {
        margin: 24px 0 56px;
    }

    &__info {
        margin-top: 10px;

        @include media(md) {
            margin-top: 20px;
        }
    
        @include media(xxl) {
            margin-top: 23px;
        }
    }

    &__logo {
        width: 100%;
        max-width: 156px;

        @include media(md) {
            max-width: 245px;
        }
    
        @include media(xxl) {
            max-width: 293px;
        }
    }
}