@use 'src/scss/variables' as *;

.category-item {
  display: block;
  height: 58px;
  border: 2px solid var(--color-primary);
  border-radius: 30px;
  padding: 12px 16px;
  text-decoration: none;
  color: $mainColorText;
  cursor: pointer;
  background-repeat: no-repeat;
  margin-bottom: 8px;
  background-position: 100% 100%;
  background-size: 96px;
  @include media(md) {
    height: 98px;
    background-size: 96px;
    margin-bottom: 16px;
  }
  @include media(lg) {
    background-size: 150px;
    height: 170px;
    padding: 28px 32px;
  }
  @include media(xl) {
    background-size: auto;
  }

  &:hover {
    transition-duration: .25s;
    color: $mainColorText;
    background-color: var(--color-secondary);
  }
  &__title {
    @include media(md) {
      padding-right: 20px;
      font-size: 14px;
      line-height: 18px;
    }
    @include media(lg) {
      font-size: 18px;
      line-height: 22px;
    }
    @include media(xxl) {
      font-size: 20px;
      line-height: 24px;
    }
  }
}


  .c-category .row > div {
    &:nth-child(4) .category-item,
    &:nth-child(6) .category-item,
    &:nth-child(11) .category-item,
    &:nth-child(12) .category-item {
      background-position-x: 130%;
      @include media(md) {
        background-position-x: 115%;
      }
    }
  }


