@use 'src/scss/variables' as *;
.slider-item {
  padding: 45px 80px;
  height: 348px;
  &__title {
    font-size: 36px;
    color: #FFF;
    font-weight: 700;
    margin-bottom: 53px;
  }
}

.main-slider {
  margin-bottom: 57px;
  .carousel-indicators {
    right: auto;
    margin-left: 80px;
    .active {
      background-color: $mainColorText;
    }
    [data-bs-target] {
      width: 9px;
      height: 9px;
      border-radius: 50%;
    }
  }
  .carousel-control-next-icon {
    background-image: url($imgPath + "/svg/arrow.svg");
    width: 76px;
    height: 33px;
  }
}
